.list-container {
  display: flex;
  flex-direction: column;

  h2 {
    color: var(--textColor);
  }

  .list-group{
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }

  button.list-group-item {
    display: flex;
    min-width: 200px;
    margin: 5px 0;
    color: var(--peachColor);
    background-color: var(--darkBlue);
    font-weight: 100;
    border-color: var(--darkBlue);
    box-shadow: 1px 1px 5px var(--darkBlue);
    gap: 4px;

    &:hover {
      color: var(--textColor);
      i.bi.bi-check-square-fill {
        color: var(--textColor);
      }
    }

    i.bi.bi-check-square-fill {
      background: none;
      color: var(--peachColor);
    }
  }
}

.stack {
  display: flex;
}

@media (max-width: 768px) {
  .stack {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .list-container{
    button.list-group-item{
      padding: 0;
      margin: 0;
    }
  }
  
  h2 {
    display: none;
  }
}