  body{
    background-color: #66BCF2;
  }
  
  :root {
    --backgroundPicColor: #024873;
    --lightBlue: #66BCF2;
    --darkBlue: #021F59;
    --textColor: #024873;
    --peachColor: #F2AB91;
    --OceanBlue: #024873;
    --CeruleanBlue: #3D90D9;
  }
  