.form-validation {
  label {
    display: flex;
    color: var(--darkBlue);
  }

  .invalid-feedback {
    color: var(--darkBlue);
  }

  .row-form {
    display: flex;
    justify-content: center;
  }

  input.form-control {
    border: none;
    margin-bottom: 5px;
  }

  textarea.form-control, input.form-control {
    background-color: var(--darkBlue);
    color: var(--peachColor);
    border: 2px;

    &::placeholder {
      color: var(--peachColor);
    }
  }

  .message-form {
    margin: auto;
  }

  button {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: var(--peachColor);
    border: none;
    color: var(--darkBlue);

    &:hover {
      background-color: var(--darkBlue) !important;
      color: var(--peachColor);
    }
    &:focus,
    &:active {
      background-color: var(--darkBlue) !important;
      color: var(--peachColor);
    }
  }
}
