.project-card {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  position: relative;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow: visible;

  & > * {
    flex: 0 0 auto;
    scroll-snap-align: start;
    min-width: 200px;
  }

  img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    transform-origin: center;
  }

  @media (max-width: 768px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
    
    img {
      &:hover {
        transform: none;
      }
    }
  }
  .card {
    width: 18rem;
    border-radius: 12px;
    background-color: var(--darkBlue);
    border: 3px solid var(--darkBlue);
  }

  .card-title {
    font-weight: bold;
    color: var(--lightBlue);
  }

  p.card-text {
    font-size: 12px;
    color: var(--peachColor);

    &:nth-child(3) {
      color: var(--lightBlue);
      font-weight: 800;
    }
  }

  button {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: var(--peachColor);
    border: none;
    color: var(--darkBlue);

    &:hover {
      background-color: var(--darkBlue) !important;
      color: var(--peachColor);
    }
    &:focus,
    &:active {
      background-color: var(--darkBlue) !important;
      color: var(--peachColor);
    }

    &:disabled {
      background-color: var(--lightBlue);
      color: #ffffff;
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  .card-body {
    padding: 3px 0 0 0;
  }

  .buttons.card-body {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    border-radius: 0 0 12px 12px;
  }
}
