.project-card {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  position: relative;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overflow: visible;

  & > * {
    flex: 0 0 auto;
    scroll-snap-align: start;
    min-width: 200px;
  }

  img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    transform-origin: center;

    &:hover {
      transform: scale(1.2);
      z-index: 10;
    }
  }

  @media (max-width: 768px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
    
    img {
      &:hover {
        transform: none;
      }
    }
  }
  .card {
    width: 18rem;
    border-radius: 12px;
    border: 2px solid black;
  }

  .card-title {
    font-weight: bold;
  }

  p.card-text {
    font-size: 12px;

    &:nth-child(3) {
      color: gray;
      font-weight: 800;
    }
  }

  button {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #2c232e;
    border: none;

    &:hover {
      background-color: #2c232e !important;
    }
    &:focus,
    &:active {
      background-color: #2c232e !important;
    }
  }

  .card-body {
    padding: 3px 0 0 0;
  }

  .buttons.card-body {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    border-radius: 0 0 12px 12px;
  }
}
