.about {
  display: flex;

  .img-container {
    width: 50%;

    img {
      width: 260px;
      height: 270px;
      border-radius: 50% 90% 50% 90%;
      background-color: var(--backgroundPicColor);
    }
  }

  .details-container {
    width: 60%;
    text-align: left;

    .developer {
      color: var(--darkBlue);
    }

    p {
      margin-right: 15px;
    }

    .info {
      color: var(--textColor);
      text-shadow: 0px 0px 0px var(--textColor);
      display: table-cell;
    }

    .details {
      display: table;
      width: 100%;
      p {
        color: var(--textColor);
        text-shadow: 0px 0px 0px var(--textColor);
        display: table-row;
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      margin-bottom: 20px;
      text-align: center;
    }

    .img-container {
      width: 100%;

      img {
        width: 215px;
        height: 225px;
      }
    }

    .details-container {
      display: block;
      width: 100%;
    }
  }
}

.main-btn {
  background-color: var(--darkBlue);
  padding: 6px 0px 6px 0px;
  margin-top: 30px;
  border: 2px solid var(--darkBlue);
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  gap: 5px;
  justify-content: center;

  span,
  i {
    color: var(--peachColor);
    background-color: var(--darkBlue);
  }
}
