.about {
  display: flex;

  .img-container {
    width: 50%;

    img {
      width: 260px;
      height: 280px;
      border: 2px solid #f0f0ee;
      border-radius: 50% 90% 50% 90%;
      background-color: #f0f0ee;
    }
  }

  .details-container {
    width: 60%;
    text-align: left;

    .developer {
      color: #2c232e;
    }

    p {
      margin-right: 15px;
    }

    .info {
      color: #6c757d;
      font-weight: normal;
      margin-left: 20px;
      display: table-cell;
    }

    .details {
      display: table;
      width: 100%;
      p {
        color: #6c757d;
        display: table-row;
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      margin-bottom: 20px;
      text-align: center;
    }

    .img-container {
      width: 100%;

      img {
        width: 215px;
        height: 235px;
      }
    }

    .details-container {
      display: block;
      width: 100%;
      font-size: 13px;
    }
  }
}

.main-btn {
  background-color: #2c232e;
  padding: 6px 0px 6px 0px;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 150px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.4s ease-out;
  }

  &:hover {
    transition: all 0.4s ease-out;

    &::before {
      width: 100%;
      height: 100%;
      background-color: #f0f0ee;
      color: #2c232e;
      transform: translateX(0);
      transition: all 0.4s ease-out;
    }
  }

  span,
  i {
    background-color: #2c232e;
  }
}

@media (max-width: 768px) {
  .about .details-container .details {
    display: block !important;
    flex-wrap: wrap;
    justify-content: center;
  }
}
