a.navbar-brand {
  font-size: 50px;
  margin-right: 72px;
  color: var(--darkBlue);
  font-weight: bolder;

  &:hover,
  &:focus {
    color: var(--peachColor);
  }
}

a.nav-link,
.navbar-nav{
  color: var(--OceanBlue);
  text-shadow: 0px 0px 0px var(--OceanBlue);
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: #F2AB91 !important;
  }
}

.navbar > .container {
  padding: 2px;
}
.custom-header {
  box-sizing: content-box !important;
  background-color: var(--lightBlue);
}

.social-link {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;

  i {
    color: var(--darkBlue);
  }
}

.navbar-toggler {
  border: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }
}
