.page-not-found{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    text-shadow: rgb(52, 51, 47) 1px 0 10px;
}