.page-not-found{
    color: var(--darkBlue);
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    text-shadow: var(--darkBlue) 1px 0 10px;
}