.social-links-contact {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.contact {
  background-color: var(--CeruleanBlue);
  border-radius: 100px;

  i {
    color: var(--darkBlue);
  }

  @media (max-width: 768px) {
    background-color: var(--lightBlue);
  }
}

#contact {
  @media (max-width: 768px) {
    padding-left: 20%;
    padding-right: 20%;
    text-align: start;
  }
}

.number-contact {
  text-shadow: var(--darkBlue) 1px 0 1px;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5px;
  color: var(--darkBlue);
  font-size: 35px;

  i {
    color: var(--darkBlue);
  }
}

@keyframes shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.shake {
  display: inline-block;
  animation: shake 0.5s infinite;
}
